body {
	background-color: #99FF66;
	background-image: url("tree.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-right: 70px;
	width: 600px;
	height: 600px;
	font-family: Arial;
	font-size: medium;
	/*visibility: hidden;*/
}

p {
	 color: Brown;
	 font-family: Arial;
	 font-size: 20px;
	 margin-top: 1em;
	 margin-bottom: 1em;
}

button {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a73f2d), color-stop(1, #993e32));
	background:-moz-linear-gradient(top, #a73f2d 5%, #993e32 100%);
	background:-webkit-linear-gradient(top, #a73f2d 5%, #993e32 100%);
	background:-o-linear-gradient(top, #a73f2d 5%, #993e32 100%);
	background:-ms-linear-gradient(top, #a73f2d 5%, #993e32 100%);
	background:linear-gradient(to bottom, #a73f2d 5%, #993e32 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a73f2d', endColorstr='#993e32',GradientType=0);
	background-color:#a73f2d;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:2px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:16px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #993e32), color-stop(1, #a73f2d));
	background:-moz-linear-gradient(top, #993e32 5%, #a73f2d 100%);
	background:-webkit-linear-gradient(top, #993e32 5%, #a73f2d 100%);
	background:-o-linear-gradient(top, #993e32 5%, #a73f2d 100%);
	background:-ms-linear-gradient(top, #993e32 5%, #a73f2d 100%);
	background:linear-gradient(to bottom, #993e32 5%, #a73f2d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#993e32', endColorstr='#a73f2d',GradientType=0);
	background-color:#993e32;
}
