body {
	background-color: linen;
	/*background-image:url('chrome-extension://ncacjbmcooehaoflpgbbiefkfopjhnen/images/bg.jpg');*/
	width: 600px;
	height: 600px;
	font-family: Arial;
	font-size: medium;
	/*visibility: hidden;*/
}

